*{
    margin: 0;
    padding:0;
}

body {
    min-height:100vh;
    margin-left: 100px;
    margin-top: 20px;
    background: #333;
}

.loader {
    position:relative;
    width: 200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.loader span:nth-child(1) {
    border-radius: 24% 76% 32% 68% / 67% 25% 75% 33% ;
    animation-duration: 3s;
}

.loader span:nth-child(2) {
    border-radius: 70% 30% 47% 53% / 82% 64% 36% 18%;
    animation-direction: reverse;
    animation-duration: 2.5s;
}

.loader span:nth-child(3) {
    border-radius: 67% 35% 65% / 52% 64% 36% 48%;
    animation-duration: 4s;
}

.loader span:nth-child(4) {
    border-radius: 62% 38% 32% 68% / 41% 39% 61% 59% ;
    animation-direction: reverse;
    animation-duration: 3.5s;
}

.loader span {
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    border: 2px solid #fff;
    pointer-events:none;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform:rotate(0deg);
    }
    0% {
        transform:rotate(360deg);
    }
}